
:host{
    display: flex;
    height: 100vh;
    width: 100%;
    .welcome {
      @media (max-width: 1024px) {
        font-size: 25px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    .title {
      margin-bottom: 0;
      position: absolute;
      color: #fff;
      font-size: 2em;
      //font-family: Lato-Regular;
      font-weight: 400;
      top: -25%;
      left: 15%;
      @media (max-width: 1024px) {
        font-size: 1.6em;
      }
      @media (max-width: 768px) {
        font-size: 1.4em;
      }
    }
    .google {
      display: flex;
      background-color: rgba(230, 237, 243, 0.7);
      align-items: center;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      margin: 10px 0;

      &-img {
        margin-right: 10px;
        img {
          height: 17pt;
        }
      }
      &-p {
        p {
          font-size: 14pt;
          color: rgb(39,49,66);
          //font-family: Lato-Semibold;
          font-weight: 600;
          @media (max-width: 768px) {
            font-size: 9pt;
          }
        }

      }

    }

    .google:hover {
      background-color: rgba(230,237,243, 1);
      cursor: pointer;
    }

    .microsoft {
      display: flex;
      background-color: rgb(0, 117, 218);
      align-items: center;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      margin: 10px 0;
      &-img {
        margin-right: 10px;
        img {
          height: 17pt;
        }
      }

      &-p {
        p {
          font-size: 14pt;
          color: #fff;
          //font-family: Lato-Semibold;
          font-weight: 600;
          @media (max-width: 768px) {
            font-size: 9pt;
          }
        }

      }
    }

    .microsoft:hover {
      background-color: #0089ff;
      cursor: pointer;
    }

    p {
        font-size: 30px;
        margin-bottom: 0;
    }
}
