:host{
    width: 230px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../../../assets/img/timeline/group23@0,5x.svg');
}