@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
:host{
    width: 100%;
    //height: 100vh;
    background-color: $user-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    //padding-top: $navbar-height;
    font-size: 25px;
    .pagination{
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        .page{
            opacity: 0.5;
            width: 100%;
            text-align: center;
        }
        .arrow{
            @include selectable;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border: 1px solid $user-data-border-color;
            border-radius: 3px;
            background-color: $user-data-color;
        }
        width: 60%;
    }
}