<app-user-teams-filter></app-user-teams-filter>

<app-user-table [style.width]="'60%'">
    <app-user-table-title>Top teams</app-user-table-title>
    <app-user-table-data [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
</app-user-table>
<div class="pagination">
  <div class="arrow"><i class="gi-triangle-left"></i></div>
  <div class="page">Page 1 of 30</div>
  <div class="arrow"><i class="gi-triangle-right"></i></div>
</div>

<app-modal *ngIf="openedModal">
  <app-modal-box #modalBox>
    <app-modal-box-title><div>Buy tokens</div></app-modal-box-title>
    <app-modal-box-data class="modalBoxClass">
      <div class="modalDataGroup">
          <div class="modalDataLabel">Number of tokens</div>
          <app-user-autocomplete [data]="continents" [placeholder]="'Continent'"></app-user-autocomplete>
      </div>
      <div class="modalDataGroup">
          <div class="modalDataLabel">Token price <div>(per token)</div></div>
          <div class="modalDataInput"><input value="350 USD"></div>
      </div>
    </app-modal-box-data>
    <app-modal-box-footer class="modalFooterGroup">
      <div>
          <app-user-table-row-club [class.revert]="styleTopTeams['club']['revert']" [style]="styleTopTeams['club']" [columnName]="'club'" [data]="topTeams[0]['club']"></app-user-table-row-club>
          <app-user-table-row-club [class.revert]="modalData['modalStyle']['revert']" [style]="modalData['modalStyle']" [columnName]="'club'" [data]="modalData['tokens']"></app-user-table-row-club>
          <app-user-table-row-club [class.revert]="modalData['modalStyle']['revert']" [style]="modalData['modalStyle']" [columnName]="'club'" [data]="modalData['value']"></app-user-table-row-club>
          <div class="buyTokenModalButton">Buy token</div>
      </div>
        
    </app-modal-box-footer>
</app-modal-box>
</app-modal>