//Local variables
@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";

:host{
    position: absolute;
    top: 36px;
    //left: 20%;
    z-index: 1;
    pointer-events: none;
    svg{
        //transform: translate(-50%,-50%);
        &.left{
            transform: translate(-50%,-50%);
        }
        &.right{
            transform: translate(50%,-50%);
        }
        height: 403px;
        width: 403px;
        fill: $green-color;
        stroke: $green-color;

        @keyframes oscillate-enlarge {
            from { transform: scale(0) }
            to { transform: scale(1)}
        }
          
          .alternate {
            animation: oscillate-enlarge 3s ease-in-out 0s infinite alternate;
            transform-origin: 50% 50%;
          }
    }
}
