/**
 * Navbar variables
 */

 $navbar-height: 65px;
 $navbar-color: rgb(10, 34, 57);

 /*
 * Base color
 */
 $base-color: white;
 $green-color: rgb(105, 232, 129);
 $grey-color: rgb(230, 230, 230);
 $user-color: rgb(27, 36, 49);

 /**
 * User data colors
 */
 $user-data-color: rgb(39, 49, 66);
 $user-data-border-color: rgb(49, 61, 79);

 /*
 * Footer variables
 */
$footer-color: rgb(33, 35, 47);