@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1spif3');
  src:  url('fonts/icomoon.eot?1spif3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1spif3') format('truetype'),
    url('fonts/icomoon.woff?1spif3') format('woff'),
    url('fonts/icomoon.svg?1spif3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gi-"], [class*=" gi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gi-error:before {
  content: "\e90e";
}
.gi-slider_arrow_up:before {
  content: "\e90a";
}
.gi-slider_arrow_down:before {
  content: "\e90b";
}
.gi-slider_arrow_right:before {
  content: "\e900";
}
.gi-slider_arrow_left:before {
  content: "\e901";
}
.gi-triangle-up:before {
  content: "\e908";
}
.gi-triangle-down:before {
  content: "\e909";
}
.gi-triangle-right:before {
  content: "\e906";
}
.gi-triangle-left:before {
  content: "\e907";
}
.gi-eye1:before {
  content: "\e905";
}
.gi-image:before {
  content: "\e90d";
}
.gi-cart:before {
  content: "\e93a";
}
.gi-undo2:before {
  content: "\e967";
}
.gi-redo2:before {
  content: "\e968";
}
.gi-search:before {
  content: "\e986";
}
.gi-cross:before {
  content: "\ea0f";
}
.gi-eye:before {
  content: "\e90c";
}
.gi-trash:before {
  content: "\e904";
}
.gi-arrow-circle-o-down:before {
  content: "\e902";
}
.gi-arrow-circle-o-up:before {
  content: "\e903";
}
