@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";

:host{
    width: 50%;
    background-color: $user-color2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .rightPanelBox{
        width: 50%;
        height: 25%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        align-self: flex-start;
        position: relative;
        background-color: white;
        /* p {
          margin-bottom: 0;
          position: absolute;
          color: #fff;
          font-size: 2em;
          font-family: Lato-Regular;
          font-weight: 400;
          top: -25%;
          left: 15%;
        } */
        .contentGlobal{
            position: absolute;
            top: 25%;
            //left: 15%;
            @media (max-width: 768px) {
              top: 18%;
              left: 8%;
            }
            @media (max-width: 1024px) {
              top: 16%;
              left: 6%;
            }
            @media (min-width: 1025px) {
              top: 16%;
              left: 15%;
            }
        }
    }
    .loginFooter{
        position: absolute;
        color: white;
        //width: 50%;
        bottom: 0;
        ul{
            list-style-type: none;
            display: flex;
            padding: inherit;
            li{
                padding: 10px;
            }
        }
    }
}
