<app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
    <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
    <app-user-dashboard-box-footer>TOTAL TOKEN NUMBER</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
  <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>TOKEN PRICE</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
    <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
    <app-user-dashboard-box-footer>TOKEN PRICE</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<div class="buttons">
  <div class="green">BUY TOKENS</div>
  <div class="white">SELL TOKENS</div>
</div>
