<div class="leftPanelBox">
  <app-world-map-image class="map"></app-world-map-image>
 <!--  <div class="contentGlobal"> -->
    <img [src]="imageBaseUrl + 'assets/img/logo/bitmap.png'">
    <app-timeline-centered-point class="point"></app-timeline-centered-point>
    <div class="contentGlobal">
      <ng-content></ng-content>
    </div>
  <!-- </div> -->
</div>
<div class="loginFooter">
    <!-- <app-timeline-centered-point class="point"></app-timeline-centered-point> -->
  <ul>
    <li (click)="openDashobardTimeline()">About</li>
    <li>FAQ</li>
  </ul>
</div>
