<svg viewBox="0 0 403 403">
  <g>
    <circle class="alternate" id="dot1-8" cx="201" cy="201" opacity="0.1" fill="transparent" r="200" />
    <circle class="alternate" id="dot1-6" cx="201" cy="201" opacity="0.2" fill="transparent" r="100" />
    <circle class="alternate" id="dot1-4" cx="201" cy="201" opacity="0.3" fill="transparent" r="10" />
    <circle class="alternate" id="dot1-2" cx="201" cy="201" opacity="0.5" fill="transparent" r="7" />
    <circle id="dotmid-4" cx="201" cy="201" r="3" />
  </g>
</svg>