<div class="footer">
    <ul >Stay in touch
        <li class="inputMail"><input placeholder="Enter your email"/><img src="assets/img/timeline/email_input.png"></li>
    </ul>
    
    <ul >Legal
        <li>Legal terms</li>
        <li>Privacy Policy</li>
        <li>Export Notice</li>
        <li>Trust</li>
    </ul>
    <ul >Resources & Help
        <li>Product support</li>
        <li>Resources</li>
    </ul>
    <ul >Connect with us
        <li>Contact Us</li>
        <li>Blog</li>
        <li>Support login</li>
        <li>Careers</li>
    </ul>
</div>
