<div class="footer">
    <ul >{{ 'footer.stayInTouch' | sharedTranslation | translate }}
        <li class="inputMail"><input placeholder="{{ 'footer.enterEmail' | sharedTranslation | translate }}"/><img  src="assets/img/timeline/email_input.png"></li>
    </ul>

    <ul >{{ 'footer.legal' | sharedTranslation | translate }}
        <li>{{ 'footer.legalTerms' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.privacyPolicy' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.exportNotice' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.trust' | sharedTranslation | translate }}</li>
    </ul>
    <ul >{{ 'footer.resourcesAndHelp' | sharedTranslation | translate }}
        <li>{{ 'footer.productSupport' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.resources' | sharedTranslation | translate }}</li>
    </ul>
    <ul >{{ 'footer.connectWithUs' | sharedTranslation | translate }}
        <li>{{ 'footer.contactUs' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.blog' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.supportLogin' | sharedTranslation | translate }}</li>
        <li>{{ 'footer.careers' | sharedTranslation | translate }}</li>
    </ul>
</div>
