@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";

:host{
    width: 100%;
    height: $navbar-height;
    
    color: black;
    position: fixed;
    z-index: 1001;
    white-space: nowrap;
    top: $navbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    &.danger{
        background-color: pink;
    }
    &.success{
        background-color: $green-color;
    }
}