@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";

:host {
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    display: block;
    //height: 340px;
    // overflow: auto;
  }
  // height: 100vh;
  .payment-wrapper {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      color: white;
      border-top: 9pt solid rgb(49,61,79);
      background-color: #e3e7ec;
      color: #7f8fa4;
      font-size: 14pt;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &--header {
        display: flex;
        padding: 10px;
        align-items: center;
        @media (max-width: 1024px) {
          padding: 3px;
        }
        img {
          height: 28pt;
          margin-left: 15px;
          @media (max-width: 1024px) {
            height: 20pt;
          }
        }
        p {
          font-size: 24pt;
          margin-bottom: 0;
          margin-left: 5px;
          //font-family: Lato-Bold;
          font-weight: 700;
          color: rgb(53,64,82);
          @media (max-width: 1024px) {
            font-size: 20pt;
          }
        }
      }
      &-option {
        padding: 10px;
        //font-family: Lato-Regular;
        font-weight: 400;
        @media (max-width: 1024px) {
          padding: 3px;
        }
        &-title {

          font-size: 16pt;
          margin-left: 15px;
          color: rgb(53,64,82);
          @media (max-width: 1024px) {
            font-size: 15pt;
          }
        }
        &-paymentoptions {
          display: flex;

          &--option {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
            color: rgb(53,64,82);
            font-size: 16pt;
            &.selected{
              box-shadow: 0 0 0 3px $green-color;
            }
            @media (max-width: 1024px) {
              margin: 10px;
            }
            img {
              height: 96pt;
              @media (max-width: 795px) {
                height: 65pt;
              }
              @media (max-width: 1024px) {
                height: 75pt;
              }
            }

            }
            img:hover {
              transform: scale(1.1);
              cursor: pointer;
              transition: all 0.3s ease;
            }
            p {
              @media (max-width: 1024px) {
                font-size: 15pt;
              }
              font-size: 16pt;
              margin: 0.6rem 0;
            }
          }
        }


      &--footer {
        display: flex;
        flex-direction: column;
        background-color: rgb(49,61,79);
        padding: 10px;
        font-size: 14pt;
        color: rgb(207,213,221);

        @media (max-width: 1024px) {
          font-size: 13pt;
          padding: 8px;
        }

        .total-cost {
          display: flex;
          justify-content: space-between;
          //font-family: Lato-Semibold;
          font-weight: 600;
          p:last-child {
            color: #fff;
            font-family: Lato-Black;
            font-weight: 900;
            span {
              color: rgb(99,234,124);
            }
          }

        }
        .wallet-status {
          display: flex;
          justify-content: space-between;
          //font-family: Lato-Semibold;
          font-weight: 600;
          p:last-child {
            color: #fff;
            //font-family: Lato-Black;
            font-weight: 900;
            span {
              color: rgb(99,234,124);
            }
          }
        }

        p {
          @media (max-width: 1024px) {
            margin-bottom: 7px;
          }
        }
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      &-prev {
        color: rgb(127, 143, 164);
      }
      &-prev:hover {
        color: rgba(127, 143, 164, 0.8);
        cursor: pointer;
      }
      &-next {
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #69e881;
        color: #fff;
        border-radius: 3px;
        margin-left: 15px;
        &:hover{
          cursor: pointer;
          box-shadow: 0px 0px 5px 0px #fff;

        }
      }
    }
}
