<div class="payment-wrapper">
      <div class="payment-wrapper--header">
          <img [src]="imageBaseUrl + 'assets/img/logo/bitmap.png'">
          <p>WFCE</p>
      </div>
      <div class="payment-wrapper-option">
        <div class="payment-wrapper-option-title">
            <p>{{ 'checkout.paymentOption' | userTranslation | translate  }}: </p>
        </div>
        <div class="payment-wrapper-option-paymentoptions">
          <ng-container *ngFor="let paymentMethod of paymentLogos">
            <div *ngIf="payment.addresses[paymentMethod.name] !== undefined" 
                  (click)="handlePaymentString(paymentMethod.name, payment.addresses[paymentMethod.name])" 
                  class="payment-wrapper-option-paymentoptions--option"
                  [class.selected]="selectedPaymentMethod == paymentMethod.name">
                <img [attr.src]="paymentMethod.logo" alt="">
                <p>{{paymentMethod.name}}</p>
            </div>
          </ng-container>
          <!-- <div class="payment-wrapper-option-paymentoptions--option">
              <img src="assets/img/checkout/bitcoin@2x.png" alt="">
              <p>Bitcoin</p>
          </div>
          <div class="payment-wrapper-option-paymentoptions--option">
            <img src="assets/img/checkout/Eth.png" alt="">
            <p>Etherium</p>
          </div>
          <div class="payment-wrapper-option-paymentoptions--option">
            <img src="assets/img/checkout/litecoin@2x.png" alt="">
            <p>Litecoin</p>
          </div>
          <div class="payment-wrapper-option-paymentoptions--option">
              <img src="assets/img/checkout/litecoin@2x.png" alt="">
              <p>Bitcoin cash</p>
            </div>
        </div> -->
      </div>
      <div class="payment-wrapper--footer">
          <div class="total-cost">
            <p>{{ 'checkout.totalCost' | userTranslation | translate  }}</p>
            <p><span>- 324 WFCE</span> (234 USD) </p>
          </div>
          <div class="wallet-status">
            <p>{{ 'checkout.newWalletStatus' | userTranslation | translate  }}</p>
            <p><span>- 4,185,403 WFCE</span> (3.244M USD) </p>
          </div>
      </div>
</div>

<div class="buttons">
  <div class="buttons-prev" (click)="goToStep('cart')">
    {{ 'checkout.previousStep' | userTranslation | translate  }}
    </div>

   <div class="buttons-next" (click)="goToStep('bill')">
    {{ 'checkout.nextStep' | userTranslation | translate  }}
   </div>

</div>

