<app-navbar *ngIf='!user'></app-navbar>
<app-user-navbar *ngIf='user' [user]='user'></app-user-navbar>
<app-navbar-indicator [@flyInOut]="''" *ngIf='indicator' [class.success]="messageSuccess" [class.danger]="!messageSuccess">{{ message }}</app-navbar-indicator>
<app-world-map></app-world-map>
<app-data-navbar appScrollIntoView></app-data-navbar>
<!-- <app-data-table-area  *ngIf="isLeagueSelected"></app-data-table-area> -->
<app-timeline *ngIf="toggleData.value == 'timeline'" [@flyInOut]="''" (@flyInOut.done)="animationDone($event)" ></app-timeline> <!-- *ngIf="timelineSelected" [@flyInOut]="''" (@flyInOut.done)="animationDone($event)"-->
<app-data-table-area *ngIf="toggleData.value != 'timeline'" [@flyInOut]="''" (@flyInOut.done)="animationDone($event)"></app-data-table-area>
<app-footer></app-footer>

<app-signup-form *ngIf="showSignupDialog"></app-signup-form>


