<app-user-autocomplete [data]="continents" [placeholder]="'Continent'"></app-user-autocomplete>
<app-user-autocomplete [data]="continents" [placeholder]="'Country'"></app-user-autocomplete>
<app-user-autocomplete [data]="continents" [placeholder]="'League'"></app-user-autocomplete>
<app-user-autocomplete [data]="continents" [placeholder]="'League'" [type]="'search'"></app-user-autocomplete>
<div class="searchButton">Search</div>
<!-- <app-user-autocomplete [data]="countries" [placeholder]="'Continent'"></app-user-autocomplete> -->