<!-- <app-user-dashboard-box>
  <app-user-dashboard-box-title>ONLINE ACCOUNT<i class="gi-arrow-circle-o-up arrowUp"></i></app-user-dashboard-box-title>
  <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box> -->
<app-user-dashboard-box>
  <app-user-dashboard-box-title>{{ 'dashboard.wfceWallet' | userTranslation | translate | uppercase }}<i class="gi-arrow-circle-o-up arrowUp"></i></app-user-dashboard-box-title>
  <app-user-dashboard-box-data class="boxBigGreen"><img width="30px" src="assets/img/dashboard/Bitmap.png">1873.46</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box>
  <app-user-dashboard-box-title>{{ 'dashboard.privateSalesOffers' | userTranslation | translate | uppercase }}</app-user-dashboard-box-title>
  <app-user-dashboard-box-data>
    <div (click)="openModal()" class="smallGreenHeading">Salt Lake City, Utah</div>
    <div class="twoColumnsBox">
      <div class="twoRowsBox">
        <div>18.7M</div>
        <div class="smallerFadedBox">{{ 'dashboard.sharedTraded' | userTranslation | translate }}</div>
      </div>
      <div class="twoRowsBox">
        <div>19.9M</div>
        <div class="smallerFadedBox">{{ 'dashboard.marketCap' | userTranslation | translate }}</div>
      </div>
    </div>
  </app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>
    <div class="highestOfferBoxFooter">
      <div class="highestOfferBoxFooterBigger">+120.93</div>
      <div class="smallerFadedBox">{{ 'dashboard.yearlyChange' | userTranslation | translate }}</div>
      <div class="smallerFadedBox viewAllBox">{{ 'dashboard.viewAll' | userTranslation | translate }}</div>
    </div>
</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box>
  <app-user-dashboard-box-title>{{dayOfTheWeek | uppercase}}</app-user-dashboard-box-title>
  <app-user-dashboard-box-data class="boxBig">{{dayOfTheMonth}}</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>

<app-modal *ngIf="openedModal">
    <app-modal-box [@flyInOut]="''">
      <app-modal-box-title><div>{{ 'dashboard.highestPrivateOffers' | userTranslation | translate }}</div></app-modal-box-title>
      <app-modal-box-data >
        <div class="modalBoxClass">
          <img src="assets/img/temp/group27.png">
          <div class="modalBoxTwoRows">
            <div>Stallions</div>
            <div class="smallerFadedBox">Utah</div>
          </div>
          <div class="modalBoxTwoRowsImage">
              <img src="assets/img/dashboard/Bitmap.png">
              <div class="modalBoxTwoRows">
                <div>84.130,10</div>
                <div class="smallerFadedBox">{{ 'dashboard.tokens' | userTranslation | translate }}</div>
              </div>
          </div>
          <div class="modalBoxTwoRows">
              <div>$80.500,823</div>
              <div class="smallerFadedBox">{{ 'dashboard.value' | userTranslation | translate }}</div>
          </div>
        </div>
      </app-modal-box-data>
      <app-modal-box-footer >
        <div class="modalFooterGroup">
            <div class="buyTokenModalButton"><i class="gi-cart"></i>{{ 'dashboard.addToCart' | userTranslation | translate }}</div>
          </div>
      </app-modal-box-footer>
  </app-modal-box>
  </app-modal>
