@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";
:host{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .arrowUp{
        font-size: 32px;
    }
    .boxBigGreen{
        font-size: 34px;
        color: $green-color;
    }
}