<app-user-dashboard-box>
  <app-user-dashboard-box-title>ONLINE ACCOUNT<i class="gi-arrow-circle-o-up arrowUp"></i></app-user-dashboard-box-title>
  <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box>
  <app-user-dashboard-box-title>WFCE WALLET<i class="gi-arrow-circle-o-up arrowUp"></i></app-user-dashboard-box-title>
  <app-user-dashboard-box-data>Ekica</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box>
  <app-user-dashboard-box-title>HIGHEST PRIVATE OFFERS</app-user-dashboard-box-title>
  <app-user-dashboard-box-data>Ekica</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>
<app-user-dashboard-box>
  <app-user-dashboard-box-title>{{dayOfTheWeek | uppercase}}</app-user-dashboard-box-title>
  <app-user-dashboard-box-data>{{dayOfTheMonth}}</app-user-dashboard-box-data>
  <app-user-dashboard-box-footer>{{month}} - {{year}}</app-user-dashboard-box-footer>
</app-user-dashboard-box>
