<div class="row">
<div class="col-4 coinImage" (mouseover)="handleMouseOver($event)" (mouseleave)="handleMouseLeave($event)">
  <img [@rotateIn]="inViewPort" class="icon" [class.hovered]="active"  [src]="imageBaseUrl + 'assets/img/dashboard/Bitmap.png'">
</div>
<div class="col-8 coinDescription">
  <div class="coinHeading">{{ 'timeline.wfceCoin' | frontPageTranslation | translate }}</div>
  <div class="coinText">{{ 'timeline.wfceCoinText' | frontPageTranslation | translate }}.</div>
  <div class="coinLearnMore">{{ 'timeline.learnMore' | frontPageTranslation | translate }} ></div>
</div>
</div>
