@import "../../../../../../../sass/variables";
@import "../../../../../../../sass/mixins";

:host{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 3px;
        &.colorGrey{
            background-color: $user-data-border-color;
        }
        &.colorGreen{
            background-color: #69e881;
        }
        &.hoverGlow{
            &:hover{
                @include selectableGlow;
            }
        }
        &.fade{
            opacity: 0.3;
        }
        &.bright{
            color: white;
        }
        i{
            margin-right: 10px;
        }
    }
}