

  <div class="table-wrapper">
      <div *ngIf="cart === null || (cart !== null && cart.numberOfItems == 0) ; else cartItems" class="userDropdownNavbarFooter">
          <div class="userDropdownNavbarItem">
            {{ 'checkout.noResults' | userTranslation | translate  }}!
          </div>
      </div>
      <ng-template #cartItems>


      <div class="table">
          <table>
            <thead>
              <tr>
                <th>{{ 'table.team' | userTranslation | translate  }}</th>
                <th>{{ 'table.quantity' | userTranslation | translate  }}</th>
                <th>{{ 'table.amount' | userTranslation | translate  }}</th>
                <th>{{ 'table.total' | userTranslation | translate  }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart.items">
                <td>
                    <app-user-table-row-club [class.revert]="clubStyle['revert']" [style]="clubStyle" [columnName]="'club'" [data]="item.club"></app-user-table-row-club>
                  <!-- <div class="team">
                    <div class="team-image">
                        <img _ngcontent-c18="" src="assets/img/temp/avatar.png">
                    </div>
                    <div class="team-info">
                        <div class="team-info--name">
                            Barcelona
                        </div>
                        <div class="team-info--league">
                            La Liga
                        </div>
                    </div>
                  </div> -->

                </td>
                <td>
                    <div class="custom-select-list">
                      <!-- <div #quantityRef contenteditable  (keydown)="keyPress($event, item, quantityRef.innerText)" (blur)="quantityValueBlur(item)" class="custom-select-list-value">
                          {{item.amount}}
                      </div> -->
                      <input #quantityRef class="custom-select-list-value" (input)="onInputChange($event.target.value, item)" [attr.value]="item.amount" type="number"/>
                      <div class="custom-select-list-arrows">
                        <div class="arrow-up" (click)="arrowUpPressed(item)">
                          <img [src]="imageBaseUrl + 'assets/img/checkout/arrow@2x.png'">
                        </div>
                        <div class="arrow-down" (click)="arrowDownPressed(item)" >
                          <img [src]="imageBaseUrl + 'assets/img/checkout/arrow@2x.png'">
                        </div>
                      </div>
                    </div>
                </td>
                <td>$ {{item.price}} USD</td>
                <td class="total-quantity">${{ (+quantityRef.value * item.price).toFixed(2)}} USD</td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td >${{cart.totalPrice}} USD</td>
              </tr>
            </tfoot>
          </table>


        </div>
      </ng-template>
  </div>

  <div class="buttons">
      <div class="buttons-prev">
        {{ 'checkout.backToShopping' | userTranslation | translate  }}
        </div>

       <div class="buttons-next" (click)="goToStep('payment')">
        {{ 'checkout.nextStep' | userTranslation | translate  }}
       </div>

  </div>

