@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
:host{
    width: 100%;
    margin-top: $navbar-height;
    height: $navbar-height;
    background-color: $user-data-color;
    border: 1px solid $user-data-border-color;
    color: white;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    /* font-family: Lato-Semibold;
    font-weight: 600; */
    .navbarContent{
        width: 80%;
        display: flex;
        //justify-content: space-between;
        padding: 0px;
        display: flex;
        align-items: center;
        div{
            padding-right: 10px;
            div{
                height: 40px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $green-color;
                //text-align: center;
                border-radius: 3px;
                //padding: 10px;
                &:hover {
                    @include selectableGlow;
                }
            }


        }
        //}
        .logo{
            //padding: 20px 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            img{
                width: 40%;
            }
        }
    }

}
