<div class="heading continentCountriesDiv">
  <div>
    <!-- <img [src]="'assets/img/flags/'+currentCountry.id.toLowerCase()+'.png'"> -->
    <img [src]="'assets/img/navigator/'+currentContinent.name+'.svg'" onError="this.src='assets/img/logo/bitmap.png';">
    <label>{{currentContinent.name}} countries</label>
  </div>
  <div class="close" (click)="close()"><i class="gi-cross"></i></div>
</div>
<div class="continentCountriesDiv" >
  <ul>
    <li *ngFor= "let country of countries" (click)="selectCountry(country)"><img [src]="'assets/img/flags/'+country.alpha2Code.toLowerCase()+'.png'" onError="this.src='assets/img/logo/bitmap.png';">{{country.name}}</li>
  </ul>
</div>
