<div class="content">
  <app-user-table>
    <app-user-table-title>{{ 'dashboard.topTeams' | userTranslation | translate  }}</app-user-table-title>
    <app-user-table-data [selectable]="true" [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
  </app-user-table>
  <div class="teamArea">
      <app-user-manage-teams-boxes>
        <app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
          <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
          <app-user-dashboard-box-footer>{{ 'manageTeams.totalTokenNumber' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
        </app-user-dashboard-box>
        <app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
          <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
          <app-user-dashboard-box-footer>{{ 'manageTeams.tokenPrice' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
        </app-user-dashboard-box>
        <app-user-dashboard-box [style.width]="'176px'" [style.height]="'110px'">
            <app-user-dashboard-box-data class="boxBigGreen">$1873.46</app-user-dashboard-box-data>
            <app-user-dashboard-box-footer>{{ 'manageTeams.tokenPrice' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
        </app-user-dashboard-box>
        <div class="buttons">
          <div class="green">{{ 'manageTeams.buyTokens' | userTranslation | translate | uppercase  }}</div>
          <div class="white">{{ 'manageTeams.sellTokens' | userTranslation | translate | uppercase  }}</div>
        </div>
      </app-user-manage-teams-boxes>
      <app-user-chart-area [selectedTeam]="selectedTeam"></app-user-chart-area>
  </div>
</div>
<div class="content">
  <app-user-table>
    <app-user-table-title>{{ 'manageTeams.watchedTeams' | userTranslation | translate }}</app-user-table-title>
    <app-user-table-data [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
  </app-user-table>
  <div class="teamArea">
        <app-user-manage-teams-boxes>
          <app-user-dashboard-box [style.width]="'140px'" [style.height]="'110px'">
            <app-user-dashboard-box-data class="boxBigGreen1">$1873.46</app-user-dashboard-box-data>
            <app-user-dashboard-box-footer>{{ 'manageTeams.totalTokenNumber' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
          </app-user-dashboard-box>
          <app-user-dashboard-box [style.width]="'140px'" [style.height]="'110px'">
            <app-user-dashboard-box-data class="boxBigGreen1">$1873.46</app-user-dashboard-box-data>
            <app-user-dashboard-box-footer>{{ 'manageTeams.tokenPrice' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
          </app-user-dashboard-box>
          <app-user-dashboard-box [style.width]="'140px'" [style.height]="'110px'">
              <app-user-dashboard-box-data class="boxBigGreen1">$1873.46</app-user-dashboard-box-data>
              <app-user-dashboard-box-footer>{{ 'manageTeams.tokenPrice' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
          </app-user-dashboard-box>
          <app-user-dashboard-box [style.width]="'140px'" [style.height]="'110px'">
            <app-user-dashboard-box-data class="boxBigGreen1">$1873.46</app-user-dashboard-box-data>
            <app-user-dashboard-box-footer>{{ 'manageTeams.tokenPrice' | userTranslation | translate | uppercase  }}</app-user-dashboard-box-footer>
        </app-user-dashboard-box>
          <div class="buttons">
            <div class="green">{{ 'manageTeams.buyTokens' | userTranslation | translate | uppercase  }}</div>
            <div class="white">{{ 'manageTeams.sellTokens' | userTranslation | translate | uppercase  }}</div>
          </div>
        </app-user-manage-teams-boxes>
      <app-user-chart-area [selectedTeam]="selectedTeam"></app-user-chart-area>
  </div>
</div>
