<div class="timelineHeading">{{ 'timeline.powerOfWfce' | frontPageTranslation | translate }}</div>
<div class="timelineHeadingText">{{ 'timeline.powerOfWfceText' | frontPageTranslation | translate }}.</div>
<app-timeline-start></app-timeline-start>
<app-timeline-line [height]="'70'"></app-timeline-line>
<ng-container *ngFor="let paragraph of timelineData; let even = even; let i = index">
  <app-timeline-line *ngIf="i!=0" [height]="'200'"></app-timeline-line>
  <app-timeline-node [data]="paragraph" [leftOriented]="even"></app-timeline-node>
</ng-container>
<app-timeline-line [style.opacity]="0.7" [height]="'300'"></app-timeline-line>
<div class="timelineMiddle">{{ 'timeline.getStartedNow' | frontPageTranslation | translate }}</div>
<div class="timelineMiddleText">{{ 'timeline.powerOfWfceText' | frontPageTranslation | translate }}.</div>
<app-timeline-line [style.opacity]="0.5" [height]="'70'"></app-timeline-line>
<div class="startNowButton" (click)="openSignUp()" >{{ 'timeline.startNow' | frontPageTranslation | translate }}</div>
<app-timeline-line [style.opacity]="0.3" [height]="'200'"></app-timeline-line>
<app-timeline-testimonials></app-timeline-testimonials>
<app-timeline-footer></app-timeline-footer>
