<div class="bill-wrapper">
  <div class="bill-wrapper--header">
      <img src="assets/img/logo/bitmap.png">
      <p>WFCE</p>
  </div>
  <div class="bill-wrapper-content">
    <div class="bill-wrapper-content--info">
        <p>Please make payment in next 50 minutes.</p>
        <p class="mb-20">Once payment is placed, tokens will be transferred automatically to your account.</p>
        <p class="mb-40">Please follow link below, or scan QR code.</p>
        <p class="mb-40">Use address to complete transaction:</p>
        <p class="mb-40">{{selectedStringQr}}</p>

    </div>
    <div class="bill-wrapper-content-qr">
      <div class="bill-wrapper-content-qr--background">
          <!-- <img src="assets/img/checkout/group13@2x.png"> -->
          <qrcode *ngIf="selectedStringQr !== undefined" [qrdata]="selectedStringQr" [size]="120" [level]="'M'"></qrcode>
      </div>
    </div>
  </div>
  <div class="bill-wrapper--footer">
      <div class="total-cost">
        <p>Total cost</p>
        <p><span>- 324 WFCE</span> (234 USD) </p>
      </div>
      <div class="wallet-status">
        <p>New wallet status</p>
        <p><span>- 4,185,403 WFCE</span> (3.244M USD) </p>
      </div>
  </div>
</div>

<div class="buttons">
<div class="buttons-prev" (click)="goToStep('payment')">
  Previous step
</div>

<div class="buttons-next" (click)="finishOrder()">
 Next Step
</div>

</div>

<div  *ngIf="showModal" class="backlayer">
    <app-success  *ngIf="showModal" [@flyInFromTop]="'in'" ></app-success>
</div>

