<div class="bill-wrapper">
  <div class="bill-wrapper--header">
      <img src="assets/img/logo/bitmap.png">
      <p>WFCE</p>
  </div>
  <div class="bill-wrapper-content">
    <div class="bill-wrapper-content--info">
        <p>{{ 'checkout.paymentTime' | userTranslation | translate  }}.</p>
        <p class="mb-20">{{ 'checkout.paymentPlaced' | userTranslation | translate  }}.</p>
        <p class="mb-40">{{ 'checkout.followLink' | userTranslation | translate  }}.</p>
        <p class="mb-40">{{ 'checkout.openLink' | userTranslation | translate  }} <a href="#">{{ 'checkout.here' | userTranslation | translate | uppercase  }}</a>.</p>

    </div>
    <div class="bill-wrapper-content-qr">
      <div class="bill-wrapper-content-qr--background">
          <img src="assets/img/checkout/group13@2x.png">
      </div>
    </div>
  </div>
  <div class="bill-wrapper--footer">
      <div class="total-cost">
        <p>{{ 'checkout.totalCost' | userTranslation | translate  }}</p>
        <p><span>- 324 WFCE</span> (234 USD) </p>
      </div>
      <div class="wallet-status">
        <p>{{ 'checkout.newWalletStatus' | userTranslation | translate  }}</p>
        <p><span>- 4,185,403 WFCE</span> (3.244M USD) </p>
      </div>
  </div>
</div>

<div class="buttons">
<div class="buttons-prev" (click)="goToStep('payment')">
  {{ 'checkout.previousStep' | userTranslation | translate  }}
</div>

<div class="buttons-next" (click)="finishOrder()">
  {{ 'checkout.nextStep' | userTranslation | translate  }}
</div>

</div>

<div  *ngIf="showModal" class="backlayer">
    <app-success  *ngIf="showModal" [@flyInFromTop]="'in'" ></app-success>
</div>

