<app-user-navbar [user]="user"></app-user-navbar>
<app-navbar-indicator [@flyInOut]="''" *ngIf='indicator' [class.success]="messageSuccess" [class.danger]="!messageSuccess">{{ message }}</app-navbar-indicator>
<app-user-data-navbar></app-user-data-navbar>
    <router-outlet></router-outlet>
<!-- <app-user-dashboard *ngIf="toggleData=='dashboard'"></app-user-dashboard>
<app-user-profile *ngIf="toggleData=='profile'" [user]="user"></app-user-profile>
<app-user-teams *ngIf="toggleData=='teams'"></app-user-teams>
<app-user-manage-teams *ngIf="toggleData=='manageTeams'"></app-user-manage-teams> -->
<app-footer></app-footer>
