@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
:host{
    width: 100%;
    //height: 100vh;
    background-color: $user-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: $navbar-height;
    font-size: 25px;
    .userProfileTitle{
        margin-bottom: 20px;
    }
}
