<app-user-table-title *ngIf="selectedFilter == 'continent'" (showBy)="showByThisMany($event)">{{ 'dataTableArea.mostValuableTeamsIn' | frontPageTranslation | translate }} {{selectedContinent.name}}</app-user-table-title>
<app-user-table-title *ngIf="selectedFilter == 'country'" (showBy)="showByThisMany($event)">{{ 'dataTableArea.mostValuableTeamsIn' | frontPageTranslation | translate }} {{selectedCountry.name}}</app-user-table-title>
<app-user-table-title *ngIf="selectedFilter == 'league'" (showBy)="showByThisMany($event)">{{ 'dataTableArea.mostValuableTeamsIn' | frontPageTranslation | translate }} {{selectedLeague.league_name}}</app-user-table-title>
<app-user-table-title *ngIf="!isContinentSelected" (showBy)="showByThisMany($event)">{{ 'dataTableArea.mostValuableTeams' | frontPageTranslation | translate }}</app-user-table-title>

<app-user-table-data [data]="mostValuableTeams" [style]="styleTopTeams"></app-user-table-data>
<div class="pagination">
    <div class="arrow" (click)="setOffset(offset - 1)"><i class="gi-slider_arrow_left"></i></div>
    <div class="pagesPagination">
        <div class="pagePagination" (click)="setOffset(1)" [class.selected]="1==offset" *ngIf="numberOfPages > 4 && offset > 2">1</div>
        <div class="pagePaginationDots" *ngIf="numberOfPages > 4 && offset > 2">...</div>
        <ng-container *ngFor="let index of pagesArray">
            <div *ngIf=" (index == offset -1 || index == offset - 2 || index == offset)" class="pagePagination" (click)="setOffset(index + 1)" [class.selected]="(index + 1)==offset" >{{index + 1}}</div>
        </ng-container>
        
        <div class="pagePaginationDots" *ngIf="numberOfPages > 4 && offset < (numberOfPages-1)">...</div>
        <div class="pagePagination" (click)="setOffset(numberOfPages)" [class.selected]="offset==numberOfPages" *ngIf="numberOfPages > 4 && offset < (numberOfPages-1)">{{numberOfPages}}</div>
    </div>
    <div class="arrow" (click)="setOffset(offset + 1)"><i class="gi-slider_arrow_right"></i></div>
</div>

<app-modal *ngIf="openedModal">
    <app-modal-box [@flyInOut]="''">
      <app-modal-box-title><div>{{ 'modal.buyTokens' | sharedTranslation | translate }}</div></app-modal-box-title>
      <app-modal-box-data class="modalBoxClass">
        <div class="modalDataGroup">
            <div class="modalDataLabel">{{ 'modal.numberOfTokens' | sharedTranslation | translate }}</div>
            <div class="modalDataInput"><input class="numberIput" type="number" [(ngModel)]="modalData['numberOfTokens']"/></div>
        </div>
        <div class="modalDataGroup">
            <div class="modalDataLabel">{{ 'modal.tokenPrice' | sharedTranslation | translate }} <div>({{ 'modal.perToken' | sharedTranslation | translate }})</div></div>
            <div class="modalDataInput"><input value="350 USD"></div>
        </div>
      </app-modal-box-data>
      <app-modal-box-footer class="modalFooterGroup">
        <div>
            <app-user-table-row-club [class.revert]="modalData['modalStyle']['revert']" [style]="modalData['modalStyle']" [columnName]="'club'" [data]="modalData['club']"></app-user-table-row-club>
            <app-user-table-row-club [class.revert]="modalData['modalStyle']['revert']" [style]="modalData['modalStyle']" [columnName]="'club'" [data]="modalData['tokens']"></app-user-table-row-club>
            <app-user-table-row-club [class.revert]="modalData['modalStyle']['revert']" [style]="modalData['modalStyle']" [columnName]="'club'" [data]="modalData['value']"></app-user-table-row-club>
            <div class="buyTokenModalButton" (click)="buyToken()">{{ 'modal.buyToken' | sharedTranslation | translate }}</div>
        </div>

      </app-modal-box-footer>
  </app-modal-box>
  </app-modal>

  <app-spinner *ngIf="showSpinner" [style.backgroundImage]="'transparent'"></app-spinner>
