@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: solid 1px  $border-color;
    border-radius: 6px;
    color: black;
    .pagination{
        display: flex;
        height: $navbar-height;
        align-items: center;
        margin-left: 10px;
        .arrow{
            @include selectable;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border: 1px solid $border-color;
            border-radius: 3px;
            background-color: white;
        }
        .pagesPagination{
            display: flex;
            align-items: center;
            .pagePagination{
                @include selectable;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border: 1px solid $border-color;
                border-radius: 3px;
                background-color: white;
                &.selected{
                    color: $green-color;
                    background-color: $data-color;
                }
            }
            .pagePaginationDots{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
            }
        }
    }
    app-modal-box{
        background-color: white;
        font-size: 25px;
        color: $data-color;
        .modalBoxClass{
            flex-direction: row;
            justify-content: space-between;
            .modalDataGroup{
                display: flex;
                flex-direction: column;
                .modalDataInput{
                    display: flex;
                    align-items: center;
                    padding-left: 6px;
                    background-color: rgb(242, 242, 242);
                    border-radius: 4px;
                    height: 35px;
                    width: 245px;
                    font-size: 19px;
                    border: solid 1px rgb(203, 203, 203);
                    input{
                        word-break: break-all;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        background-color: transparent;
                        border-width: 0px;
                        color: $data-color;
                        width: 90%;
                        &.numberIput{
                            width: 100%;
                        }
                        &:focus {
                            outline: 0;
                        }
                    }
                }
                
                .modalDataLabel{
                    display: flex;
                    font-size: 18px;
                    margin-bottom: 10px;
                    div{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    

    .modalFooterGroup{
        font-size: 18px;
        background-color: rgb(242, 242, 242);
        div{
            width: 90%;
            display: flex;
            justify-content: space-between;
            .buyTokenModalButton{
                height: 40px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                border-radius: 3px;
                background-color: #69e881;
                &:hover{
                    @include selectableGlow;
                }
            }
        }
    }
}