@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";
:host{
    width: 50%;
    background-color: $user-data-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $user-data-border-color;
    border-radius: 3px;
    padding: 10px;
    font-size: 19px;
    .grid-container{
        font-size: 17px;
        width: 100%;
        display: grid;
        grid-template-columns: 20% auto;
        div{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $user-data-border-color;
            position: relative;
            img{
                width: 50px;
                position: relative;
                z-index: 10;
            }
            .grid-image{
                display: grid;
                justify-content: center;
                list-style: none;
                grid-template-columns: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                position: absolute;
                background-color: $user-color;
                border: 1px solid $user-data-border-color;
                top: 0;
                left: 25px;
                width: 70px;
                li{
                    @include selectable;
                    justify-self: center;
                    border-bottom: 1px solid $user-data-border-color;
                    &.lastRow{
                        border:none;
                    }
                }
            }
            input{
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                background-color: transparent;
                border-width: 0px;
                color: white;
            }
            &.last-row{
                border:none;
            }
        }
    }
    .greenGlowingButton{
        margin-top: $navbar-height;
        align-self: flex-end;
        @include glowingGreenButton;
    }
}