<!--Boxes-->
<app-user-dashboard-boxes></app-user-dashboard-boxes>

<!--Tables-->
<div class="tables">
  <app-user-table >
    <app-user-table-title>Top teams</app-user-table-title>
    <app-user-table-data [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
  </app-user-table>
  <app-user-table >
      <app-user-table-title>Scheduled matches</app-user-table-title>
      <app-user-table-data [style]="styleScheduledMatches" [data]="scheduledMatches"></app-user-table-data>
    </app-user-table>
    <app-user-table>
        <app-user-table-title>My top teams</app-user-table-title>
        <app-user-table-data [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
      </app-user-table>
</div>
