<!--Boxes-->
<app-user-dashboard-boxes></app-user-dashboard-boxes>



<!-- <svg  viewBox="0 400 2636 400" width="100%" style="
fill: green;
stroke: green;
">

<rect  class="cls-1" height="25" width="1207" x="74" y="520" ></rect>
<rect  class="cls-1" height="25" width="1207" x="1353" y="520"></rect>
<circle (click)="doIt()" class="cls-1" cx="38.5" cy="530.5" r="38.5"></circle>
<circle  class="cls-1" cx="1317" cy="530.5" r="38.5"></circle>
<circle  class="cls-1" cx="2595" cy="530.5" r="38.5"></circle>
</svg> -->


<!--Tables-->
<div class="tables">
  <app-user-table >
    <app-user-table-title><div class="additionToTitle">{{ 'dashboard.topTeams' | userTranslation | translate }} <div (click)="seeMore('view-teams')" class="greenMarginLeft">{{ 'dashboard.seeMore' | userTranslation | translate }}</div></div></app-user-table-title>
    <app-user-table-data [style]="styleTopTeams" [data]="topTeams"></app-user-table-data>
  </app-user-table>
  <app-user-table >
      <app-user-table-title>{{ 'dashboard.scheduledMatches' | userTranslation | translate }}</app-user-table-title>
      <app-user-table-data [style]="styleScheduledMatches" [data]="scheduledMatches"></app-user-table-data>
    </app-user-table>
    <app-user-table>
        <app-user-table-title><div class="additionToTitle">{{ 'dashboard.myTopTeams' | userTranslation | translate }} <div (click)="seeMore('manage-teams')" class="greenMarginLeft">{{ 'dashboard.seeMore' | userTranslation | translate }}</div></div></app-user-table-title>
        <app-user-table-data [style]="styleTopTeams" [data]="myTopTeams"></app-user-table-data>
      </app-user-table>
</div>
