@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
:host{
    width: 100%;
    height: $navbar-height;
    background-color: $user-color;
    color: white;
    position: fixed;
    z-index: 1001;
    white-space: nowrap;
    top: 0;
    display: flex;
    justify-content: center;
    .navbarContent{
        width: 80%;
        display: flex;
        justify-content: space-between;
        .userProfile{
            padding: 0px;
            display: flex;
            justify-content: flex-end;
            //align-items: center;
            font-size: 15px;
            div{
                &.dropdownSelected{
                    background-color: $user-data-border-color;
                }
                padding: 10px;
                display: flex;
                align-items: center;
                &:hover {
                    @include selectable;
                }
                i{
                    padding:10px;
                    font-size: 20px;
                }
            }
        }
        .logo{
            //padding: 20px 0px;
            padding: 0px;
            display: flex;
            align-items: center;
        
            .logo-links{
                padding: 10px;
                &:hover {
                    @include selectable;
                }
            }
        }
    }
    
}