@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";
:host{
    display: flex;
    align-items: center;
    width:100%;
    .revert{
        flex-direction: row-reverse;
    }
    
    table{
        width:100%;
        .tableHeading{
            background-color: $user-data-border-color;
            border:none;
            .oneColumnHeading{
                text-align: center;
            }
        }
        tr{
            border-bottom: 1px solid $user-data-border-color;
        }
        td{
            padding: 10px;
            .smallCoin{
                padding: 2px;
                 width: 20px;
            }
        }
        th{
            padding: 10px;
        }
    }
}