@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";
:host{
    display: flex;
    align-items: center;
    width:100%;
    .revert{
        flex-direction: row-reverse;
    }
    .tableHeading{
        background-color: $user-data-border-color;
        border:none;
    }
    table{
        width:100%;
        tr{
            border-bottom: 1px solid $user-data-border-color;
        }
    }
}