<app-left-panel>
  <p class="welcome">Welcome To WFCE</p>
</app-left-panel>
<app-right-panel>
  <p class="title">Signup to WFCE</p>
  <div content class="google" (click)="googleAuth()">

    <div class="google-img">
        <img src="assets/img/login-signup/search@2x.png">
    </div>
    <div class="google-p">
        <p>Signup with Google</p>
    </div>

  </div>
<div content class="microsoft" (click)="microsoftAuth()">
    <div class="microsoft-img">
        <img src="assets/img/login-signup/microsoft@2x.png">
    </div>
    <div class="microsoft-p">
        <p>Signup with Microsoft</p>
    </div>
</div>
</app-right-panel>
