<div class="backlayer">
</div>

<div *ngIf="showSignupForm" class="signup_form_wrapper" [@flyInFromTop]="'in'">

  <div class="signup_form_wrapper_header">
    <div class="signup_form_wrapper_header_image_wrapper">
        <img [src]="authService.testUser.image_url">
        <!-- <button>+</button> -->
    </div>
    <div class="signup_form_wrapper_header_text_wrapper">
        <p style="margin-bottom: 2px;">{{ 'profile.hi' | frontPageTranslation | translate  }} {{userSignup['first_name']}}, {{ 'profile.fillRemainingPart' | frontPageTranslation | translate  }}.</p>
        <p> {{ 'profile.mandatoryFields' | frontPageTranslation | translate  }}.</p>
    </div>
  </div>

  <div class="signup_form_wrapper_info">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form_group">
              <label for="first_name">{{ 'profile.firstName' | sharedTranslation | translate  }}*</label>
              <div>
                  <input id="first_name" type="text" name="first_name" formControlName="first_name">
                  <p *ngIf="requiredFirstName"> {{ 'profile.firstNameRequired' | sharedTranslation | translate  }}. </p>
              </div>
          </div>
          <div class="form_group">
            <label for="family_name">{{ 'profile.lastName' | sharedTranslation | translate  }}*</label>
            <div>
                <input id="family_name" type="text" name="family_name" formControlName="family_name">
                <p *ngIf="requiredLastName"> {{ 'profile.lastNameRequired' | sharedTranslation | translate  }}. </p>
            </div>
          </div>
          <div class="form_group">
              <label for="email">{{ 'profile.email' | sharedTranslation | translate  }}*</label>
              <i *ngIf="requiredEmail || invalidEmail" [ngbTooltip]="emailContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i>
              <div >
                <input id="email" type="email" (blur)='validate("email")' (keyup)='validate("email")' name="email" formControlName="email">
                <!-- <p *ngIf="requiredEmail"> Email is required. </p>
                <p *ngIf="invalidEmail"> Please provide valid email. </p> -->
              </div>

               <ng-template #emailContent> {{ requiredEmail ? ('profile.emailRequired' | sharedTranslation | translate) : ('profile.emailInvalid' | sharedTranslation | translate ) }} </ng-template>
          </div>
          <div class="form_group">
            <label for="mobile_phone">{{ 'profile.mobilePhone' | sharedTranslation | translate  }}*</label>
            <i *ngIf="requiredMobilePhone || invalidMobilePhone" [ngbTooltip]="mobileContent" class="gi-error" style="color:red;margin-left: auto;font-size: 18px;"></i>
            <div >
              <input id="mobile_phone" (blur)='validate("mobile_phone")' placeholder="E.g. +16177541848" (keyup)='validate("mobile_phone")'  formControlName="mobile_phone"  name="mobile_phone" type="text" >
              <!-- <p *ngIf="requiredMobilePhone"> Mobile Phone is required. </p>
              <p *ngIf="invalidMobilePhone"> Invalid mobile phone. Phone number must begin with your conutry code. </p> -->
            </div>

              <ng-template #mobileContent>{{ requiredMobilePhone ? ('profile.mobileRequired' | sharedTranslation | translate) : ('profile.mobileInvalid' | sharedTranslation | translate ) }}</ng-template>
          </div>
          <div class="form_group">
            <label for="country">{{ 'profile.country' | sharedTranslation | translate  }}*</label>
            <i *ngIf="requiredCountry" [ngbTooltip]="countryContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i>
            <div>
              <select formControlName="country" (blur)='validate("country")'  (change)="countrySelect($event)" name="country" >
                  <option value="">Select Country</option>
                  <option *ngFor="let country of countries" [value]="country.name" > {{ country.name }}</option>
              </select>
              <!-- <p *ngIf="requiredCountry"> Please select a country. </p> -->
            </div>

            <ng-template #countryContent>{{ 'profile.pleaseSelectCountry' | sharedTranslation | translate  }}.</ng-template>
          </div>
          <div class="form_group">

            <label for="password">{{ 'profile.birthday' | sharedTranslation | translate  }}*</label>
            <i *ngIf="requiredBirthday" [ngbTooltip]="birthdayContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i>
            <div >
              <input  name="date_of_birth" (blur)='validate("date_of_birth")' type="date" formControlName="date_of_birth">
              <!-- <p *ngIf="requiredBirthday"> Please choose a date of birth. </p> -->
            </div>

              <ng-template #birthdayContent>{{ 'profile.pleaseChooseDateOFBirth' | sharedTranslation | translate  }}.</ng-template>
          </div>
          <div class="form_group">
            <label for="language">{{ 'profile.language' | sharedTranslation | translate  }}</label>
            <i *ngIf="requiredLanguage" [ngbTooltip]="languageContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i>
            <div>
                <select formControlName="language">
                    <ng-container *ngIf="languages.length > 0">
                      <option *ngFor="let language of languages; let i = index" [value]="language" > {{ language }}</option>
                    </ng-container>
                  </select>
              <!-- <input id="language" name="language" (blur)='validate("language")' (keyup)='validate("language")' formControlName="language"  type="text"> -->
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <ng-template #languageContent>{{ 'profile.languageRequired' | sharedTranslation | translate  }}.</ng-template>
          </div>
          <div class="form_group">
            <label for="streetaddress">{{ 'profile.streetAddress' | frontPageTranslation | translate  }}</label>
            <!-- <i *ngIf="requiredLanguage" [ngbTooltip]="languageContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i> -->
            <div>
              <input id="streetaddress" name="streetaddress"  formControlName="streetaddress"  type="text">
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <!-- <ng-template #languageContent>Language is required.</ng-template> -->
          </div>
          <div class="form_group">
            <label for="gender">{{ 'profile.gender' | frontPageTranslation | translate  }}</label>
            <!-- <i *ngIf="requiredLanguage" [ngbTooltip]="languageContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i> -->
            <div>
              <!-- <input id="gender" name="gender"  formControlName="gender"  type="text"> -->
              <select formControlName="gender">
                <ng-container *ngIf="genders.length > 0">
                  <option *ngFor="let gender of genders; let i = index" [selected]="gender == 'Male'" [value]="gender" > {{ gender }}</option>
                </ng-container>

              </select>
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <!-- <ng-template #languageContent>Language is required.</ng-template> -->
          </div>
          <div class="form_group">
            <label for="zip">{{ 'profile.zip' | frontPageTranslation | translate  }}</label>
            <i *ngIf="invalidZip" [ngbTooltip]="zipContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i>
            <div>
              <input id="zip" name="zip"  formControlName="zip" (keyup)='validate("zip")' type="text">
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <ng-template #zipContent>{{ 'profile.invalidZip' | frontPageTranslation | translate  }}.</ng-template>
          </div>
          <div class="form_group">
            <label for="additionaladdressinfo">{{ 'profile.additionalAddressInfo' | frontPageTranslation | translate  }}</label>
            <!-- <i *ngIf="requiredLanguage" [ngbTooltip]="languageContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i> -->
            <div>
              <input id="additionaladdressinfo" name="additionaladdressinfo"  formControlName="additionaladdressinfo"  type="text">
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <!-- <ng-template #languageContent>Language is required.</ng-template> -->
          </div>
          <div class="form_group">
            <label for="city">{{ 'profile.city' | frontPageTranslation | translate  }}</label>
            <!-- <i *ngIf="requiredLanguage" [ngbTooltip]="languageContent" class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i> -->
            <div>
              <input id="city" name="city"  formControlName="city"  type="text">
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <!-- <ng-template #languageContent>Language is required.</ng-template> -->
          </div>
          <div class="form_group">
            <label for="state">{{ 'profile.state' | frontPageTranslation | translate  }}</label>
            <!-- <i *ngIf="requiredLanguage"  class="gi-error" style="color:red;margin-left: auto;font-size: 20px;"></i> -->
            <div>
              <input id="state" name="state"  formControlName="state"  type="text">
              <!-- <p *ngIf="requiredLanguage"> Language is required. </p> -->
            </div>

            <!-- <ng-template #languageContent>Language is required.</ng-template> -->
          </div>
          <button type="submit" [disabled]="!form.valid || disableSubmitButton" [class.disabled]="!form.valid || disableSubmitButton"  [value]="'Sign Up'"> {{ !loginBtnClicked ? 'Sign Up' : 'Please wait...' }}</button>
      </form>

  </div>


  <div class="signup_form_wrapper_footer">

  <p>{{ 'profile.byClicking' | frontPageTranslation | translate  }} <i>{{ 'profile.signUp' | frontPageTranslation | translate  }}</i> {{ 'profile.byClickingButton' | frontPageTranslation | translate  }} </p>
  <p><span>Terms &amp; Conditions</span> and <span>Privacy Policy</span></p>
  </div>

</div>


<div *ngIf="verifyEmailDialog" [@flyInFromTop]="'in'" class="host">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'profile.successModal.title' | frontPageTranslation | translate  }}</h4>
  </div>
  <div class="modal-body">
    <p>{{ 'profile.successModal.content' | frontPageTranslation | translate  }}.</p>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="closeModal()" >OK</button>
  </div>
</div>


